@charset "utf-8";
/* CSS Document */

* {
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
}

a {
	text-decoration: none;
}

h3 {
	color: red;
}

img {
	box-shadow: 10px 10px 10px hsla(356,6%,57%,1.00);
	border-radius: 15px;
}

#title {
	height: 280px;
	text-align:center;
	text-decoration: none;
	border-top: red solid 3px;
	border-bottom: red solid 1px;
	background-image:url(images/header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#title h1 {
	padding-left: 40px;
	padding-top: 95px;
}

#title a {
	color: white;
	font-size: 1.5em;
	text-shadow: 4px 4px 5px orange;
}

a:hover {
	text-decoration: none;
}

nav {
	text-align: center;
	border-bottom: red 3px solid;
	font-weight: 600;
	text-shadow: 1px 1px black;
} 

nav ul {
	list-style: none;
	display: inline-block;
	margin-top: 8px;
}

nav ul li {
	display: inline-block;
	padding: 0px 20px;
	color: white;
}

nav ul a {
	color: white;
	font-size: 25px;
	font-weight: 500;
	padding: 10px 20px 10px 20px;
	border-left: 1px solid hsla(0,0%,0%,0.00);
	border-right: 1px solid hsla(0,0%,0%,0.00);
}

nav ul li :hover {
	color: red;
	background-color: white;
	padding: 10px 20px 10px 20px;
	border-top: 1px solid red;
	border-left: 1px solid red;
	border-right: 1px solid red;
	border-radius: 25px;
}

.bread {
	background-color: black;
	border-radius: 25px;
	border-color: red;
	text-shadow: 2px 2px red;
}

footer {
	background-color: black;
	text-align: center;
	border-top: red 3px solid;
	bottom: 0;
	clear: both;
	position: relative;
	height: 100px;
}

footer a {
	padding: 0px 50px;
	color: white;
	font-size: 20px;
}

footer a:hover {
	color: red;
}

footer h3 {
	color: orange;
}

p {
	font-size: 1.5em;
}

#bulletin p {
	font-size: 1.2em;
}

#bulletin .bulletin-contents {
	height: 800px;
	overflow: auto;
	border-left: 1px dashed red;
	margin-top: 10px;
	background-color: hsla(25,100%,92%,1.00);
}


.linkk {
	color: red;
	font-size: 2.3em;
}

.linkk:hover {
	color: orange;
}

#musopage {
	width: 90%;
}

.musodetail {
	height: 300px;
	overflow: auto;
}

.musotitle {
	text-align-last: center;
	color: red;
	border-bottom: dotted 1px red;
	border-top: solid 1px red;
	margin: 20px auto;
	background-color: hsla(25,100%,92%,1.00);
}

.musoimg img {
	width: 400px;
}

.musodetail p {
	font-size: 1.5em;
}